body,div,ul,li,a,p,i,b,span,dl,dt,dd,img{margin:0 auto;padding:0;border:0;}
ul{list-style:none;}
li,dl{display:inline-block;}
a{text-decoration:none;text-align:center;}
span,dt,dd{display:block;text-align:center;}
b,i,p{display:block;}
.header{
	width:100%;
	height:86px;
	background:#c1223e;
	border-bottom:4px solid #af132f;
	position:fixed;
	top:0;
	left:0;
	z-index:3;
}
.header>.menus{
	width:1300px;
	height:100%;
	margin:0 auto;
}
.header>.menus>.menus1{
	width:1100px;
	height:100%;
	margin:0 auto;
	position:relative;
}
.header>.menus>.menus1>.logo{
	width:51px;
	height:51px;
	background:url(../img/logo_8rji.png);
	display:inline-block;
	position:absolute;
	top:19px;
	left:0;
}
.header>.menus>.menus1>.titcn{
	width:181px;
	height:35px;
	color:#ffffff;
	position:absolute;
	top:17px;
	left:59px;
	font-size:30px;
	line-height:33px;
}
.header>.menus>.menus1>.titen{
	width:156px;
	height:17px;
	color:#ffa0b1;
	position:absolute;
	top:53px;
	left:62px;
	font-size:12px;
}
.header>.menus>.menus1>.navigation{
	width:720px;
	height:86px;
	color:#ffa0b1;
	position:absolute;
	top:0;
	right:0;
}
.header>.menus>.menus1>.navigation>li{
	width:120px;
	height:100%;
	margin:0 -3px;
}
.header>.menus>.menus1>.navigation>li>a{
	width:100%;
	height:100%;
	display:inline-block;
}
#navin{
	background:#a11c33;
}
.header>.menus>.menus1>.navigation>li>a:hover{
	background:#a11c33;
}
.header>.menus>.menus1>.navigation>li>a>b{
	width:100%;
	height:21px;
	display:block;
	line-height:21px;
	margin-top:21px;
	font-size:14px;
	color:#ffffff;
}
.header>.menus>.menus1>.navigation>li>a>p{
	width:100%;
	height:21px;
	display:block;
	line-height:21px;
	font-size:12px;
	color:rgba(233,71,100,1);
	font-family:"Times New Roman";
}
#banner{
	width:100%;
	height:472px;
	margin-top:90px;
	position:relative;
	overflow:hidden;
}
#banner>#photos{
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
#banner>#photos>li{
	width:1920px;
	height:100%;
	float:left;
}
#buttons{
	width:120px;
	height:25px;
	position:absolute;
	display:flex;
	justify-content:space-between;
	top:430px;
	z-index:1;
}
#buttons>li{
	width:23px;
	height:23px;
	display:inline-block;
	border:1px solid #000000;
	border-radius:50% 50%;
	transition:background 0.2s;
}
#buttons>li:hover{
	background:#ffffff;
}
#buttons .active{
	background:#ffffff;
}
#buttons .active>a{
	background:#ffffff;
}
.news{
	width:1100px;
	margin-top:110px;
}
.news>.tit{
	width:100%;
}
.news>.tit>.DYN{
	width:100%;
	height:1.4em;
	line-height:1.4em;
	font-size:40px;
	font-family:"Times New Roman";
	display:inline-block;
	text-align:center;
	color:#666666;
	position:relative;
}
.news>.tit>.DYN:before{
	content:"";
	width:378px;
	height:1px;
	background:#eeeeee;
	position:absolute;
	top:28px;
	left:0;
}
.news>.tit>.DYN:after{
	content:"";
	width:378px;
	height:1px;
	background:#eeeeee;
	position:absolute;
	top:28px;
	right:0;
}
.news>.tit>.DYN>p{
	color:#c1233c;
	display:inline-block;
}
.news>.tit>.xinwen{
	width:100%;
	height:1.4em;
	margin-top:-12px;
	line-height:1.4em;
	font-size:20px;
	display:block;
	text-align:center;
	color:#434343;
}
.news>.menus{
	width:333px;
	height:35px;
	margin-top:35px;
	background:#606060;
	position:relative;
}
.news>.menus>.squareBigLeft{
	width:12px;
	height:12px;
	background:#606060;
	position:absolute;
	top:11px;
	left:-18px;
}
.news>.menus>.squareBigRight{
	width:12px;
	height:12px;
	background:#606060;
	position:absolute;
	top:11px;
	right:-18px;
}
.news>.menus>.squareSmallLeft{
	width:5px;
	height:5px;
	background:#606060;
	position:absolute;
	top:15px;
	left:-29px;
}
.news>.menus>.squareSmallRight{
	width:5px;
	height:5px;
	background:#606060;
	position:absolute;
	top:15px;
	right:-29px;
}
.news>.menus>.selects{
	width:315px;
	height:100%;
	position:absolute;
	top:0;
	left:9px;
	z-index:2;
}
.news>.menus>.selects>li{
	width:105px;
	height:100%;
	float:left;
}
.news>.menus>.selects>li>a{
	width:100%;
	height:100%;
	line-height:35px;
	display:block;
	text-align:center;
	font-size:14px;
	color:#ffffff;
}
.news>.menus>.selects>li:nth-child(3)>a{
	background:#c1223e;
}
.news>.menus>.selects>li>a:hover{
	background:#c1223e;
}
.news>div{
	width:100%;
	margin-top:34px;
}
.news>div>a{
	width:100%;
	height:28px;
	line-height:28px;
	display:block;
	margin-top:16px;
	border-bottom:1px dashed #acacac;
}
.news>div>a>span{
	float:left;
	display:inline-block;
	font-size:14px;
	color:#5a5a5a;
}
.news>div>a>p{
	float:right;
	display:inline-block;
	font-size:12px;
	color:#acacac;
}
#page1{
	display:block;
	height:344px;
}
#page2{
	display:none;
	height:344px;
}
.news>.pages{
	width:100%;
	margin-top:0px;
	margin-bottom:40px;
	text-align:center;
}
.news>.pages>a{
	width:auto;
	height:auto;
	display:inline-block;
	padding:3px 3px;
	border:1px solid #d5d5d5;
	font-size:12px;
	color:#5a5a5a;
	line-height:1em;
	transition:color 0.2s;
}
.news>.pages>a:hover{
	color:#47cdff;
}
.news>.pages>.checked{
	border:none;
	color:#c1223e;
}
.foot{
	width: 100%;
	height: 265px;
	background: #252525;
	margin-top: 20px;
}
.foot_wid{
	width: 1100px;
	margin: 0 auto;
	height: 265px;
}
.foot_wid_left{
	width: 218px;
	height: 265px;
	float: left;
	background: #1F1F1F;
}
.foot_wid_left>span{
	font-family: 'Times New Roman';
    font-size: 67px;
    color: #C1223E;
    text-align:left;
    margin-left: 25px;
    margin-top: 35px;
    display: block;
}
.foot_wid_left>.foot_p1{
	font-family: 'Microsoft YaHei';
    font-size: 14px;
    color: rgb(79, 79, 79);
    margin-top: -10px;
    margin-left: 25px;
}
.foot_wid_left>.foot_p2{
	font-family: 'Times New Roman';
    font-size: 29px;
    margin-left: 25px;
    color: #B0B0B0;
    margin-top: 5px;
}
.foot_wid_left>i{
	background: url(../img/foot_phone_76ig.png);
	width: 60px;
	height: 60px;
	margin: 0 auto;
	display: block;
	margin-top: 28px;
}
.foot_wid_right{
	float: left;
	margin-left: 50px;
}
.foot_wid_right_top{
	margin-top: 20px;
	overflow: hidden;
}
.foot_wid_right_top ul li{
	width: 95px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	float: left;
}
.foot_wid_right_top ul li a{
	color: #666;
}
.foot_wid_right_top ul li:hover{
	background: #1F1F1F;
}
.foot_wid_right_cent{
	width: 264px;
	height: 33px;
	border-radius: 26px;
	background: #1F1F1F;
	margin-top: 25px;
	margin-left: 20px;
	font-family: 'Microsoft YaHei';
    color:rgb(91, 91, 91);
    line-height: 33px;
    font-size: 13px;
    text-align: center;
}
.foot_p1{
	margin-top: 15px;
}
.foot_wid_right>p{
	color: #505050;
	font-size: 13px;
	margin-left: 25px;
	line-height: 26px;
}
@media screen and (max-width:1300px){
	body{
		width:1300px;
	}
}